.c-file-sidebar {
    padding: 20px;

    &__drawer-header {
        display: flex;
        align-items: center;

        button.MuiButtonBase-root.MuiIconButton-root {
            margin-left: -10px;
        }
    }

    .MuiDrawer-paperAnchorLeft {
        padding: 20px;
        padding-top: 0;
    }

    .MuiTreeItem-root {
        &:focus>.MuiTreeItem-content {
            background-color: rgba(135, 135, 135, 0.72)
        }
    }
}