#app {
    > .MuiCircularProgress-root {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

.c-app-content {
    display: flex;
    margin-left: $sidebar-width;
    height: 100vh;
}