::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: rgba(166, 166, 166, 0.45);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(166, 166, 166, 0.45);
}

::-webkit-scrollbar-thumb {
  height: 25px;
  border-radius: 10px;
  background-color: rgba(160, 160, 160, 0.8);
}

html, textarea {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

// Variables
$sidebar-width: 50px;

@import "App";
@import "./components/components";

@import "~react-mde/lib/styles/css/react-mde-all.css";
@import "~react-toastify/dist/ReactToastify.css";
